/*fonts*/

$nunito-font: Nunito, sans-serif;
$yantramanav-font: Yantramanav, sans-serif;

/*colors*/

$black-color: #000000;
$white-color: #ffffff;
$light-grey: #f3f3f3;
$accent-color: #20ab50;
$grey-color: #dcdcdc;
$dark-grey-color: #8c8c8c;
$bg-grey-color: #e1e0e1;